DATABASE_URL="postgresql://neondb_owner:npg_s7LwbcK9mSWM@ep-wispy-credit-aig4u35a-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
ADMIN_PASSWORD="your-admin-password"
